In [1]:
import sklearn as sl
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("C:\\Users\\91959\\Desktop\\ml project\\mail_data.csv")

In [3]:
data.head()

  class                                            Message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data['class']=data['class'].map({'ham':0,'spam':1})

In [5]:
data.head()

   class                                            Message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
cv=CountVectorizer()

In [8]:
x=data['Message']
y=data['class']

In [9]:
x.shape

(5575,)

In [10]:
y.shape

(5575,)

In [11]:
x=cv.fit_transform(x)

In [12]:
x

<5575x8711 sparse matrix of type '<class 'numpy.int64'>'
	with 74122 stored elements in Compressed Sparse Row format>

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [15]:
x_train.shape

(4460, 8711)

In [16]:
from sklearn.naive_bayes import MultinomialNB

In [17]:
model=MultinomialNB()

In [18]:
model.fit(x_train,y_train)

MultinomialNB()

In [19]:
result=model.score(x_test,y_test)

In [20]:
result=result*100

In [21]:
result

97.847533632287

In [22]:
import pickle

In [23]:
pickle.dump(model,open("spam.pkl","wb"))

In [24]:
pickle.dump(cv,open("vectorizer.pkl","wb"))

In [25]:
clf=pickle.load(open("spam.pkl","rb"))

In [26]:
clf

MultinomialNB()

In [31]:
msg=" we have added bonus in your account"
data=[msg]
vecto=cv.transform(data).toarray()
result=model.predict(vecto)
print(result)

[1]